{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
    <h1>Guest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guest.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ guest.comment }}</td>
            </tr>
            <tr>
                <th>Is_approved</th>
                <td>{{ guest.isApproved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ guest.userId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guest_index') }}">back to list</a>

    <a href="{{ path('guest_edit', {'id': guest.id}) }}">edit</a>

    {{ include('guest/_delete_form.html.twig') }}
{% endblock %}
